In [1]:
import pandas as pd
from datetime import datetime as dt

### Store CSV into DataFrame

In [2]:
csv_file = "Resources/gas_prices.csv"
orig_gas_data_df = pd.read_csv(csv_file)
orig_gas_data_df.head()

,REF_DATE,GEO,DGUID,Type of fuel,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1990-01,"Québec, Quebec",2011S0503421,Regular unleaded gasoline at self service fill...,Cents per litre,57,units,0,v735095,6.2,58.3,NaN,NaN,NaN,1
1,1990-02,"Québec, Quebec",2011S0503421,Regular unleaded gasoline at self service fill...,Cents per litre,57,units,0,v735095,6.2,58.9,NaN,NaN,NaN,1
2,1990-03,"Québec, Quebec",2011S0503421,Regular unleaded gasoline at self service fill...,Cents per litre,57,units,0,v735095,6.2,59.5,NaN,NaN,NaN,1
3,1990-04,"Québec, Quebec",2011S0503421,Regular unleaded gasoline at self service fill...,Cents per litre,57,units,0,v735095,6.2,60.3,NaN,NaN,NaN,1
4,1990-05,"Québec, Quebec",2011S0503421,Regular unleaded gasoline at self service fill...,Cents per litre,57,units,0,v735095,6.2,60.4,NaN,NaN,NaN,1

### Create new data with select columns

In [3]:
refined1_gas_data_df = orig_gas_data_df[['REF_DATE', 'GEO', 'VALUE']].copy()
refined1_gas_data_df.head()

  REF_DATE             GEO  VALUE
0  1990-01  Québec, Quebec   58.3
1  1990-02  Québec, Quebec   58.9
2  1990-03  Québec, Quebec   59.5
3  1990-04  Québec, Quebec   60.3
4  1990-05  Québec, Quebec   60.4

In [4]:
refined1_gas_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3348 entries, 0 to 3347
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   REF_DATE  3348 non-null   object
 1   GEO       3348 non-null   object
 2   VALUE     3348 non-null   float64
dtypes: float64(1), object(2)
memory usage: 78.6+ KB

In [5]:
refined1_gas_data_df['REF_DATE'] = pd.to_datetime(refined1_gas_data_df['REF_DATE'])

In [6]:
refined1_gas_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3348 entries, 0 to 3347
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   REF_DATE  3348 non-null   datetime64[ns]
 1   GEO       3348 non-null   object
 2   VALUE     3348 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 78.6+ KB

In [7]:
refined1_gas_data_df[['City','Province']]=refined1_gas_data_df['GEO'].str.split(',', 1,expand=True)

In [8]:
refined1_gas_data_df.head()

    REF_DATE             GEO  VALUE    City Province
0 1990-01-01  Québec, Quebec   58.3  Québec   Quebec
1 1990-02-01  Québec, Quebec   58.9  Québec   Quebec
2 1990-03-01  Québec, Quebec   59.5  Québec   Quebec
3 1990-04-01  Québec, Quebec   60.3  Québec   Quebec
4 1990-05-01  Québec, Quebec   60.4  Québec   Quebec

In [9]:
refined1_gas_data_df['Year'] = pd.DatetimeIndex(refined1_gas_data_df['REF_DATE']).year

In [10]:
refined1_gas_data_df.head()

    REF_DATE             GEO  VALUE    City Province  Year
0 1990-01-01  Québec, Quebec   58.3  Québec   Quebec  1990
1 1990-02-01  Québec, Quebec   58.9  Québec   Quebec  1990
2 1990-03-01  Québec, Quebec   59.5  Québec   Quebec  1990
3 1990-04-01  Québec, Quebec   60.3  Québec   Quebec  1990
4 1990-05-01  Québec, Quebec   60.4  Québec   Quebec  1990

In [11]:
refined2_gas_data_df = refined1_gas_data_df.drop(labels=['REF_DATE','GEO','City'], axis=1)

In [12]:
refined2_gas_data_df.head()

   VALUE Province  Year
0   58.3   Quebec  1990
1   58.9   Quebec  1990
2   59.5   Quebec  1990
3   60.3   Quebec  1990
4   60.4   Quebec  1990

In [13]:
renamed_col_gas_data_df=refined2_gas_data_df.rename(columns={'VALUE':'Price'})

In [14]:
renamed_col_gas_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3348 entries, 0 to 3347
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     3348 non-null   float64
 1   Province  3348 non-null   object
 2   Year      3348 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 78.6+ KB

In [15]:
#Change order of columns
column_names = ['Year','Province','Price']
gas_prices_df=renamed_col_gas_data_df.reindex(columns=column_names)

In [16]:
gas_prices_df.head()

   Year Province  Price
0  1990   Quebec   58.3
1  1990   Quebec   58.9
2  1990   Quebec   59.5
3  1990   Quebec   60.3
4  1990   Quebec   60.4

In [17]:
clean_gas_prices_df = gas_prices_df[~gas_prices_df.Province.str.contains("Ontario part, Ontario/Quebec")]

In [18]:
clean_gas_prices_df.head()

   Year Province  Price
0  1990   Quebec   58.3
1  1990   Quebec   58.9
2  1990   Quebec   59.5
3  1990   Quebec   60.3
4  1990   Quebec   60.4

In [19]:
groupby_year_data_df = clean_gas_prices_df[['Year','Province','Price']].groupby(['Year','Province'], as_index=False).agg('mean')

In [20]:
groupby_year_data_df.head()

   Year           Province      Price
0  1990            Alberta  53.895833
1  1990   British Columbia  60.766667
2  1990            Ontario  57.591667
3  1990             Quebec  62.616667
4  1991            Alberta  50.141667

In [21]:
# Export file as a CSV, without the Pandas index, but with the header
clean_gas_prices_df.to_csv("Data/clean_gas_prices.csv", index=False, header=True)